.about_header {
    height: 100vh;
}

main {
    display: flex;
    background-color: #EAE4D6 !important;
    color: #1F201F;
    height: auto !important;
}

.about_main_left {
    flex: 1 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5%;
}

.about_name {
    display: inline-block;
    font-size: 40px;
    padding-bottom: 20px;
    border-bottom: solid 2px #1F201F;
}

.about_name b {
    font-family: TTCommons-bold;
    font-weight: normal;
}

.about_main_left div p {
    margin-top: 20px;
    font-size: 30px;
}

.about_left_buttons {
    display: flex;
    justify-content: left;
    gap: 20px;
}


.about_projects, .order_project {
    font-size: 20px;
    padding: 10px 20px;
    border: solid 2px #1F201F;
    border-radius: 15px;
    background-color: #1F201F;
    color: #EAE4D6;
}

.about_main_right {
    flex: 1 50%;
    width: 100%;
    padding: 5% 5% 5% 0;
}

.big_text {
    font-family: TTCommons-bold;
    font-size: 30px;
}

.small_text {
    margin-top: 20px;
    font-size: 20px;
}

@media (max-width: 950px) {
    .about_left_buttons {
        margin-top: 30px;
    }

    .about_main_right {
        padding: 5%;
    }
}