* {
    border:  0;
    margin:  0;
    padding: 0;
}

@font-face {
    font-family: 'TT Commons';
    src: url('../fonts/TTCommons-Regular.woff2') format('woff2'),
         url('../fonts/TTCommons-Regular.woff') format('woff'),
         url('../fonts/TTCommons-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TTCommons-Bold';
    src: url('../fonts/TTCommons-Bold.woff2') format('woff2'),
         url('../fonts/TTCommons-Bold.woff') format('woff'),
         url('../fonts/TTCommons-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

div {
    font-family: 'TT Commons';
}

header {
    background-image: url("../img/background_header.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    transition: background-position 0.5s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header_logo_img {
    width: 470px;
    height: 109px;
}

.nav_buttons{
    margin-top: 10px;
    width: 470px;
    gap: 40px;
    display: flex;
    justify-content: center
}

.nav_button{
    color:  #EAE4D6;
    font-size: 23px;
}

.header_make_order_button {
    font-family: 'TTCommons-Bold';
    color: #EAE4D6;
    border: 3px solid #EAE4D6;
    font-size: 28px;
    border-radius: 40px;
    padding: 20px 50px 17px 50px;

    margin: auto 0 50px 0;
}

.header_make_order_button span {
    text-align: center;
}

main {
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: #ffffff;
}

.main_left {
    width: 60%;
    display: flex;
    justify-content: flex-end;
    align-items: left;
    flex-direction: column;
    padding: 0 0 30px 30px;
}

.main_right {
    width: 40%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.main_right_button {
    padding: 20px 50px;
    border: 3px solid black;
    border-radius: 10px;
    margin: 0 0 30px 0;
}

section {
    display: flex;
    height: 100vh;
    width: 100%;
    background-color:  #EAE4D6;
}

.section_left {
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: left;
    flex-direction: column;
    padding: 0 0 30px 30px;
}

.section_right {
    width: 70%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 0 30px 30px 0;
}

.section_right_button {
    padding: 20px 50px;
    border: 3px solid black;
    border-radius: 10px;
}

.text_descripton {
    height: 300px;
    width: 100%;
    background-color: rgb(255, 206, 127);
}

.project_slider {
    height: 100vh;
    display: flex;
}
.project_slider_left {
    width: 30%;
    background-color: aquamarine;
}
.project_slider_middle {
    width: 40%;
    background-color: beige;
}
.project_slider_right {
    width: 30%;
    background-color: aquamarine;
}

/* project_request */

.project_request {
    background-color: #1F201F;
    display: flex;
    padding: 5% 5% 10% 5%;
    padding-top: 100px;
}

.border_text {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.border_text_text {
    background-color: #000000;
    padding: 5%;
    width: 85%;
    border: 2px solid #EAE4D6;
    border-radius: 0 15px 15px 15px;
    color: #EAE4D6;
}

.border_text_text div {
    font-size: 60px;
}

.border_text_text p {
    font-size: 20px;
}

.submit_form{
    width: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.contact_form {
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.contact_form input, textarea {
    height: 15%;
    width: 50%;
    border-radius: 20px 20px 0 20px;
    background-color: #EAE4D6;
    text-align: center;
}

.contact_form .contact_form_text{
    height: 23%;
    width: 48%;
    padding: 1% 1%;
    border-radius: 0 20px 20px 20px;
    display: flex;
    vertical-align: top;
    text-align: left;
    resize: none;
    overflow: auto;
}

.placeholder {
    position: absolute;
    top: 50%; /* Центрируем по вертикали */
    left: 50%; /* Центрируем по горизонтали */
    transform: translate(-50%, -50%); /* Сдвигаем на половину ширины и высоты */
    color: #aaa; /* Цвет плейсхолдера */
    pointer-events: none; /* Игнорировать события мыши */
    transition: 0.2s; /* Плавный переход */
    font-size: 14px; /* Размер шрифта плейсхолдера */
}

.contact_form div {
    width: 50%;
    display: flex;
    gap: 10px;
}

.contact_form .contact_form_soglasie152 {
    width: auto;
}

.soglasie152{
    color: #EAE4D6;
    font-size: 16px;
}

.submit_form button {
    width: 25%;
    height: 15%;
    margin-left: 25%;
    background-color: #1F201F;
    border: 2px solid #EAE4D6;
    color: #EAE4D6;
    border-radius: 20px;

}

/* footer */
footer {
    display: flex;
    align-items: center;
    height: 250px;
    background-color: black;
    color: #ffffff;
}

.footer_logo {
    width: 34%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.footer_logo_img{
    width: 60%;
    /* object-fit: cover; */
}

.footer_logo div {
    height: 10%;
    font-size: 15px;
    font-family: TTCommons-Bold;
}

.footer_links {
    width: 22%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
}

.footer_link_button{
    width: 33%;
    height: 40%;
    display: flex;
    align-items: center;
}

.footer_info {
    width: 22%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    font-size: 15px;
    gap: 10px;
}

.footer_info p {
    margin-top: auto;
}

.footer_info p:first-child {
    margin-top: 0;
}

.footer_info p {
    text-align: left;
}

.footer_social {
    display: flex;
    align-items: space-between;
    justify-content: space-between;
    flex-direction: column;
    width: 22%;
    height: 40%;
}

.footer_social_buttons {
    display: flex;
    flex-direction: row;
}

.footer_social_button {
    width: 15%;
    display: flex;
    align-items: center;
}

@media (max-width: 768px) {
    /* project_request */
    .project_request {
        flex-direction: column;
        height: auto;
        flex-flow: row wrap;
    }

    .project_request > * {
        flex: 1 100%;
    }

    /* footer */
    footer {
        flex-direction: column;
        height: auto;
        flex-flow: row wrap;
    }

    .footer_logo {
        padding-bottom: 5%;
    }

    .footer_logo_img{
        width: 85%;
        padding: 5%;
    }

    footer > * {
        flex: 1 100%;
    }

    .footer_links {
        flex: 1 40%;
        width: 100%;
        height: 100px;
    }

    .footer_link_button{
        width: 82%;
        padding-left: 18%;
    }

    .footer_info{
        flex: 1 60%;
        width: 100%;
        height: 100px;
        align-items: start;
    }

    .footer_social {
        flex-direction: row;
        align-items: center;
        justify-content: left;
        padding-top: 2%;
    }
    .footer_follow {
        width: 32.5%;
        padding-left: 7.5%;
    }
    .footer_social_buttons{
        width: 60%;
    }
}
