* {
    border:  0;
    margin:  0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none; 
    color: inherit;
}

@font-face {
    font-family: 'TTCommons';
    src: url('../fonts/TTCommons-Regular.woff2') format('woff2'),
         url('../fonts/TTCommons-Regular.woff') format('woff'),
         url('../fonts/TTCommons-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TTCommons-Bold';
    src: url('../fonts/TTCommons-Bold.woff2') format('woff2'),
         url('../fonts/TTCommons-Bold.woff') format('woff'),
         url('../fonts/TTCommons-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TTCommons-Thin';
    src: url('../fonts/TTCommons-Thin.woff2') format('woff2'),
         url('../fonts/TTCommons-Thin.woff') format('woff'),
         url('../fonts/TTCommons-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

div {
    font-family: 'TTCommons';
}

header {
    background-image: url("../img/background_header.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    transition: background-position 0.5s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.white_body {
    background-color: #EBE3D6;
}

.dark_body {
    background-color: #1F201F;
}

.white_header {
    background-image: none;
    height: auto;
    margin-bottom: 50px;
}

.black_header {
    background-image: none;
    height: auto;
    margin-bottom: 50px;
}

nav {
    margin-top: 50px;
    max-width: 470px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header_logo img {
    display: block;
    width: 100%;
}

.nav_buttons{
    margin-top: 10px;
    max-width: 470px;
    width: 100%;
    display: flex;
}

.nav_button {
    max-width: 116px;
    width: 100%;
    text-align: center;
}

.white_nav{
    color:  #EAE4D6;
}

.black_nav{
    color:  #1F201F;
}

@media (min-width: 769px) {
    .nav_button{
        font-size: clamp(18px, 3vw, 22px);
    }
}

.header_make_order_button {
    font-family: 'TTCommons-Bold';
    color: #EAE4D6;
    border: 3px solid #EAE4D6;
    font-size: clamp(18px, 4vw, 23px);
    border-radius: 40px;
    padding: 1.75% 3% 1.75% 3%;
    margin: auto 0 50px 0;
}

.header_make_order_button span {
    text-align: center;
}

main {
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: #ffffff;
}

.main_left {
    width: 60%;
    display: flex;
    justify-content: flex-end;
    align-items: left;
    flex-direction: column;
    padding: 0 0 30px 30px;
    background-image: url("../img/main_left.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main_left_project_name {
    font-size: 50px;
    font-family: 'TTCommons-Bold';
    color: #EAE4D6;
    
}

.main_left_project_description {
    color: #EAE4D6;
    font-size: 30px;
}

.main_right {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    position: relative; 
}

.main_right img {
    max-width: 400px; 
    max-height: 400px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main_right_button {
    position: absolute; 
    bottom: 5%; 
    padding: 15px 40px;
    border: 3px solid black;
    border-radius: 40px;
    font-size: 20px;
    font-family: 'TTCommons-Bold';
    color: black;
}

section {
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: #ffffff;
    position: relative; 
}

.section_left {
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    padding: 30px;
    background-size: cover;
    background-position: center;
    transition: background-image 1s ease-in-out;
    margin-right: 1px;
}

.section_right {
    width: 70%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 30px;
    background-size: cover; 
    background-position: center; 
    transition: background-image 1s ease;
}

.section_left_project_name,
.section_left_project_description {
    color: #333;
    margin-bottom: 10px;
}

.section_left_project_name {
    font-size: 40px;
    font-family: 'TTCommons-Bold';
}

.section_left_project_description {
    font-size: 20px;
    font-family: 'TTCommons';
}


.section_right_button {
    padding: 20px 50px;
    border-radius: 10px;
    cursor: pointer;
    border: 3px solid black;
    border-radius: 40px;
    font-size: 20px;
    font-family: 'TTCommons-Bold';
    color: black;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    padding: 10px;
    cursor: pointer;
    background-color: transparent;
    color: white;
    font-weight: thin;
    font-size: 50px; 
    z-index: 10; 
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.text_descripton {
    height: 450px;
    width: 100%;
    background-color: #EAE4D6;
    font-size: 60px;
    font-family: 'TTCommons-Thin';
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text_descripton b {
    font-family: 'TTCommons';
    font-weight: normal;
}

/* contact_form */

.project_slider {
    height: 80vh;
    display: flex;
}

.project_slider_left {
    width: 30%;
    height: 100%;
}

.project_slider_left img {
    height: 100%;
    object-fit: cover;
    object-position: left;
}

.project_slider_middle {
    width: 40%;
    height: 100%;
}

.project_slider_middle img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.project_slider_right {
    width: 30%;
    height: 100%;
}

.project_slider_right img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: right;
}

/* project_request */

.project_request {
    background-color: #1F201F;
    display: flex;
    padding: 5% 5% 10% 5%;
    padding-top: 100px;
}

.border_text {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.border_text_text {
    background-color: #000000;
    padding: 5%;
    width: 85%;
    border: 2px solid #EAE4D6;
    border-radius: 15px 15px 15px 15px;
    color: #EAE4D6;
}

.border_text_text div {
    font-size: 60px;
}

.border_text_text p {
    font-size: 20px;
}

.submit_form{
    width: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.contact_form {
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    color: black;
}

.contact_form_soglasie152 {
    width: 12px !important;
    height: 12px !important;
    margin-top: 0 !important;
    background-color: tomato;
}

.contact_form input, textarea {
    height: 15%;
    width: 50%;
    border-radius: 20px 20px 0 20px;
    background-color: #EAE4D6;
    text-align: center;
}

.contact_form .contact_form_text{
    height: 23%;
    width: 50%;
    padding: 1% 1%;
    border-radius: 0 20px 20px 20px;
    display: flex;
    vertical-align: top;
    text-align: left;
    resize: none;
    overflow: auto;
}

.placeholder {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: #aaa; 
    pointer-events: none; 
    transition: 0.2s; 
    font-size: 14px; 
}

.contact_form div {
    width: 50%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.soglasie152{
    color: #EAE4D6;
    font-size: 16px;
}

.submit_form button {
    width: 25%;
    height: 15%;
    margin-left: 25%;
    background-color: #1F201F;
    border: 2px solid #EAE4D6;
    color: #EAE4D6;
    border-radius: 20px;

}

/* footer */
footer {
    display: flex;
    align-items: center;
    height: 250px;
    background-color: black;
    color: #ffffff;
}

.footer_logo {
    width: 34%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.footer_logo_img{
    width: 60%;
}

.footer_logo div {
    height: 10%;
    font-size: 15px;
    font-family: TTCommons-Bold;
}

.footer_links {
    width: 22%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
}

.footer_link_button{
    width: 33%;
    height: 40%;
    display: flex;
    align-items: center;
}

.footer_info {
    width: 22%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    font-size: 15px;
    gap: 10px;
}

.footer_info p {
    margin-top: auto;
}

.footer_info p:first-child {
    margin-top: 0;
}

.footer_info p {
    text-align: left;
}

.footer_social {
    display: flex;
    align-items: space-between;
    justify-content: space-between;
    flex-direction: column;
    width: 22%;
    height: 40%;
}

.footer_social_buttons {
    display: flex;
    flex-direction: row;
}

.footer_social_button {
    width: 15%;
    display: flex;
    align-items: center;
}

@media (max-width: 768px) {
    /* header */
    nav {
        width: 80%;
    }

    .nav_button{
        font-size: clamp(17px, 3vw, 20px);
    }

    .header_make_order_button {
        margin-bottom: 10%;
        padding: 20px;
    }

    /* main */

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: auto;
    }

    .main_left {
        width: 100%;
        height: 800px;
        margin-top: 0;
    }

    .main_right {
        display: none;
        /* width: 100%; */
    }

    .main_right img {
        max-width: 100%;
        max-height: 100%;
        width: 100%;
        height: 100%;
    }

    .main_right_button {
        display: none;
    }

    /* section */

    .section_left {
        width: 100%;
    }

    .section_right {
        display: none;
    }

    .text_descripton {
        display: none;
    }

    .project_slider_left {
        display: none;
    }

    .project_slider_middle {
        width: 100%;
    }

    .project_slider_right {
        display: none;
    }


    /* project_request */
    .project_request {
        height: auto;
        flex-flow: row wrap;
        gap: 10px;
        padding: 30px 10%;
    }

    .project_request > * {
        flex: 1 100%;
    }

    .border_text_text {
        width: 100%;
        background-color: #1F201F;
        border: none;
        padding: 0%;
    }

    .submit_form {
        display: flex;
    }

    .contact_form {
        display: flex;
        flex-flow: row wrap;
        justify-content: left;
    }

    .contact_form input, textarea {
        height: 50px;
        width: 100%;
        margin-top: 10px;
        border-radius: 20px 20px 0 20px;
        background-color: #EAE4D6;
        text-align: center;
    }

    .submit_form div {
        margin-top: 10px;
    }

    .contact_form .contact_form_text{
        height: 200px;
        width: 100%;
        padding: 1% 1%;
        border-radius: 0 20px 20px 20px;
        display: flex;
        vertical-align: top;
        text-align: left;
        resize: none;
        overflow: auto;
    }
    .submit_form button {
        margin: 0;
        width: 50%;
    }

    /* footer */
    footer {
        flex-direction: column;
        height: auto;
        flex-flow: row wrap;
    }

    .footer_logo {
        padding-bottom: 5%;
    }

    .footer_logo_img{
        width: 85%;
        padding: 5%;
    }

    footer > * {
        flex: 1 100%;
    }

    .footer_links {
        flex: 1 40%;
        width: 100%;
        height: 100px;
        align-items: start;
        padding-left: 20px;
    }

    .footer_link_button{
        /* width: 82%;
        padding-left: 18%; */
    }

    .footer_info{
        flex: 1 60%;
        width: 100%;
        height: 100px;
        align-items: start;
    }

    .footer_social {
        flex-direction: row;
        align-items: center;
        justify-content: left;
        padding-top: 2%;
    }
    .footer_follow {
        width: 40%;
        margin: 0;
        padding-left: 20px;
    }
    .footer_social_buttons{
        width: 60%;
        margin: 0;
    }
}
