.prices_main {
    display: flex;
    flex-flow: row wrap;
    padding: 20px 7%;
    height: auto;
    color: #EAE4D6;
    background-color: #1F201F;
}

.services {
    flex: 1 100%;
    display: flex;
    font-size: 48px;
    font-family: TTCommons-Bold;
    border-bottom: solid 2px #EAE4D6;
    padding-bottom: 30px;
}

.desighn_project {
    flex: 1 30%;
    display: flex;
    flex-direction: column;
    min-height: 300px;
    height: auto;
    justify-content: space-between;
    padding-left: 30px;
    border-left: solid 2px #EAE4D6;
    margin-top: 50px;
}

.desighn_project_text {
    width: 80%;
}

.desighn_project_prices {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
}

.desighn_project_text div {
    font-size: clamp(20px, 3vw, 32px);
}

.desighn_project_text p {
    font-size: clamp(16px, 3vw, 22px);
}

.main_inline {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.text {
    font-size: 16px;
    /* width: 200px; */
}

.fake {
    flex-grow: 1;
    margin: 0 0 0 5px;
    border-bottom: solid 2px #EAE4D6;
}

.btn {
    background-color: #EAE4D6;
    color: #1F201F;
    max-width: 90px;
    width: 150px;
    padding: 10px 0;
    padding-bottom: 8px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px 15px 15px 0;
    border-bottom: none;
}

.author_project {
    flex: 1 30%;
    display: flex;
    flex-direction: column;
    color: #F56645;
    border-left: solid 2px #F56645;
    padding-left: 30px;
    min-height: 300px;
    height: auto;
    margin-top: 50px;
}

.author_project div {
    font-size: clamp(20px, 3vw, 32px);
    width: 80%;
}

.author_project p {
    font-size: clamp(16px, 3vw, 22px);
    width: 80%;
    margin-bottom: 20px;
}

.author_project_btn {
    background-color: #F56645;
    color: #1F201F;
    width: 150px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 10px;
    border-radius: 20px;
}

.full_project {
    flex: 1 40%;
    color: #999EBE;
    border-left: solid 2px #999EBE;
    padding-left: 30px;
    min-height: 300px;
    height: auto;
    margin-top: 50px;
}

.full_project div {
    font-size: clamp(20px, 3vw, 30px);
}
.full_project p {
    font-size: clamp(16px, 3vw, 20px);
    margin-bottom: 20px;
}

.full_project_btn {
    background-color: #999EBE;
    color: #1F201F;
    max-width: 350px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding-top: 15px;
    padding-bottom: 10px;
}

.main_footer {
    flex: 1 100%;
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: space-between;
    align-items: center;
    min-height: 60px;
    height: auto;
    border-left: solid 2px #999EBE;
    padding-left: 10px;
}

.consult {
    color: #999EBE;
    font-size: 30px;
}

.main_footer_price {
    font-size: 25px;
    width: 250px;
    border-radius: 30px;
    background-color: #999EBE;
    color: #1F201F;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 0 21px 0;
}

.main_footer_call {
    font-family: TTCommons-Bold;
    font-size: 20px;
    width: 250px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 0 21px 0;
    cursor: pointer;
    transition: background-color 0.5s ease;
    background-color: #F56645;
}

.main_footer_call:hover {
    background-color: #EAE4D6;
    color: #333;
}


/* project_reqest_white */

.project_request {
    background-color: #EAE4D6;
}

.border_text_text {
    background-color: #EAE4D6;
    color: #1F201F;
    border: #1F201F 2px solid;
}

.contact_form input {
    background-color: #ffffff !important;
    color: #1F201F;
}

.contact_form textarea {
    background-color: #ffffff !important;
    color: #1F201F;
}

.contact_form input::placeholder {
    color: #888888;;
}

.placeholder {
    color: #888888;;
}

.soglasie152 {
    color: #1F201F !important;
}

button {
    background-color: #1F201F !important;
    color: #EAE4D6 !important;
    border: solid 1px #1F201F !important;
}

.author_project_btn {
    font-size: 25px !important;
}

@media (max-width: 1300px) {
    .desighn_project {
        flex: 1 100%;
        width: 100%;
        border-left: none;
        min-height: auto !important;
        padding-left: 0;
        padding-bottom: 10px;
    }
    .desighn_project_text {
        width: 100%;
    }
    .desighn_project_prices {
        width: 100%;
    }
    .author_project {
        flex: 1 100%;
        width: 100%;
        border-left: none;
        border-top: solid 2px #F56645;
        min-height: auto !important;
        padding-left: 0;
        padding-top: 50px;
    }
    .author_project > * {
        width: 100% !important;
    }
    .author_project_btn{
        width: 200px !important;
    }
    .full_project {
        flex: 1 100%;
        width: 100%;
        border-left: none;
        min-height: auto !important;
        padding-left: 0;
        padding-top: 50px;
        border-top: solid 2px #999EBE;
    }
    .main_footer{
        padding-left: 30px;
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
        border-left: none;
        padding-left: 0;
        padding-top: 50px;
        border-top: solid 2px #999EBE;
    }
}

@media (max-width: 768px) {
    .border_text_text {
        border: none;
    }
}