<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <meta name="description" content="Краткое описание страницы">
  <link rel="stylesheet" href="../static/css/all.css">
  <link rel="stylesheet" href="../static/css/about.css">
</head>
<body class="dark_body">
  <header class="about_header">
    <div class="grain"></div>
    {% include 'nav_white.html' %}
  </header>
  <div class="project_request">{% include 'project_request.html' %}</div>
  <footer>{% include 'footer.html' %}</footer>
</body>
</html>
