<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <meta name="description" content="Краткое описание страницы">
  <link rel="stylesheet" href="../static/css/about.css">
  <link rel="stylesheet" href="../static/css/all.css">
  <script src="../static/js/scripts_all.js" defer></script>
</head>
<body class="dark_body">
  <div class="loadingOverlay">
    <img src="../static/img/logo_dark.png">
    Loading
  </div>
  <div class="contentData">
    <header class="about_header" style="background-image: url('../static/img/header_white.png');">
      {% include 'nav_black.html' %}
    </header>
    <main>
      <div class="about_main_left">
        <div>
          <div class="about_name"><b>AM2D</b>ESIGN</div>
          <p>НЕМНОГО ИНФОРМАЦИИ О НАС</p>
        </div>
        <div class="about_left_buttons">
          <a class="about_projects" href="/projects/eli">Наши проекты</a>
          <a class="order_project">Заказать проект</a>
        </div>
      </div>
      <div class="about_main_right">
        <div class="big_text">Дизайн, который говорит о Вас – у нас</div>
        <div class="small_text">
          Всё начинается с пространства. Мы верим, что интерьер — это не просто стены и мебель, а сильный инструмент, который помогает бизнесу раскрыться и заявить о себе. Наш подход прост: сложные задачи решаем легко и понятно, предлагая оригинальные решения, которые помогают вам не только привлечь внимание, но и увеличить прибыль.
          Каждый проект — это уникальная возможность создать пространство, в котором ваши клиенты будут чувствовать себя комфортно, а сотрудники — работать с максимальной эффективностью.
          <br><br>
          Мы проектируем и реализуем коммерческие объекты быстро, учитывая все нюансы, чтобы бизнес мог расти без лишних задержек.
          <br><br>
          Ваш успех начинается с правильного пространства, и мы здесь, чтобы помочь вам его создать</div>
      </div>
    </main>
    <div class="project_request">{% include 'project_request.html' %}</div>
    <footer>{% include 'footer.html' %}</footer>
  </div>
  <script>
    let imagesToPreload = ["../static/img/header_white.png"];
    let preloadedImages = [];

    function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
    }

    function preloadImages() {
        const promises = imagesToPreload.map(src => {
            return new Promise((resolve, reject) => {
                const img = new Image();
                img.src = src;
                img.onload = () => {
                    preloadedImages.push(img);
                    resolve();
                };
                img.onerror = () => reject(new Error(`Failed to load image: ${src}`));
            });
        });
        return Promise.all(promises);
    }

    async function init() {
        try {
            await preloadImages();
            await sleep(1000);
            // Скрыть затемнение и показать контент
            document.getElementsByClassName('loadingOverlay')[0].style.display = 'none';
            await sleep(1000);
            document.getElementsByClassName('contentData')[0].style.opacity = 1;
        } catch (error) {
            console.error(error);
            document.getElementsByClassName('loadingOverlay')[0].innerText = 'Технические работы';
        }
    }

    init();
  </script>
</body>
</html>
