<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <meta name="description" content="Краткое описание страницы">
  <link rel="stylesheet" href="../static/css/contacts.css">
  <link rel="stylesheet" href="../static/css/all.css">
  <script src="../static/js/scripts_all.js" defer></script>
</head>
<body class="white_body">
  <div class="loadingOverlay">
    <img src="../static/img/logo_dark.png">
    Loading
  </div>
  <div class="contentData">
    <header class="black_header">
      {% include 'nav_black.html' %}
    </header>
    <main>
      <div class="contacts_name"><div>КОНТАКТЫ</div></div>
      <div class="contacts_left">
          <div class="email">
              <div>EMAIL :</div>
              <div>am2designmanager@gmail.com</div>
          </div>
          <div class="phone">
              <div>ТЕЛЕФОН :</div>
              <div>+7 995 889 53 40</div>
          </div>
      </div>
      <div class="contacts_right">
          <form class="contacts_form" id="contactForm">
            <input type="name"     class="contacts_form_name"    id="contact_form_name"   name="name"  placeholder="Имя*" required>
            <input type="email"    class="contacts_form_email"   id="contact_form_email"  name="email" placeholder="Ваш email*" required>
            <input type="tel"      class="contacts_form_tel"     id="contact_form_tel"    name="phone" placeholder="Ваш телефон*" required>
            <textarea type="text"  class="contacts_form_text"    id="contact_form_text"   name="text"  required></textarea>
            <label class="placeholder">Ваше сообщение*</label>
            <div>
              <input type="radio" class="contact_form_soglasie152" name="soglasie152" value="soglasie152">
              <label for="soglasie152" class="soglasie152">Согласен на обработку своих первональных данных в соответствии с законом ФЗ-152 «О персональных данных»</label>
            </div>
            <button>Оставить заявку</button>
          </form>
      </div>
    </main>
    <footer>{% include 'footer.html' %}</footer>
  </div>
  <script>
    function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
    }
    async function init() {
        try {
            await sleep(1000);
            // Скрыть затемнение и показать контент
            document.getElementsByClassName('loadingOverlay')[0].style.display = 'none';
            await sleep(1000);
            document.getElementsByClassName('contentData')[0].style.opacity = 1;
        } catch (error) {
            console.error(error);
            // Обработка ошибок, если изображения не загрузились
            document.getElementsByClassName('loadingOverlay')[0].innerText = 'Технические работы';
        }
    }
    init();
  </script>
</body>
</html>
