<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <meta name="description" content="Краткое описание страницы">
  <link rel="stylesheet" href="../static/css/all.css">
  <script>
    const leftImages = {{ left_images|tojson }};
    const rightImages = {{ right_images|tojson }};
  </script>
  <script src="../static/js/script.js" defer></script>
</head>
<body>
  <header>
    {% include 'nav_white.html' %}
    <div class="header_make_order_button">ЗАКАЗАТЬ ДИЗАЙН-ПРОЕКТ</div>
  </header>
  <main>
    <div class="main_left">
      <div class="main_left_project_name">НАЗВАНИЕ ПРОЕКТА</div>
      <div class="main_left_project_description">краткая информация о проекте</div>
    </div>
    <div class="main_right">
      <img src="../static/img/main_right.jpg">
      <div class="main_right_button">ПЕРЕЙТИ К ПРОЕКТУ</div>
    </div>
  </main>
  <section>
    <div class="section_left">
      <div class="section_left_project_name">Название проекта</div>
      <div class="section_left_project_description">краткая информация о проекте</div>
    </div>
    <div class="section_right">
      <div class="section_right_button">ПЕРЕЙТИ К ПРОЕКТУ</div>
    </div>
    <button class="prev" onclick="prevImage()">&#10094;</button>
    <button class="next" onclick="nextImage()">&#10095;</button>
  </section>
  <div class="text_descripton">Мы сочетаем фундаментальные принципы дизайна с современными трендами, создавая уникальные пространства, отражающие ваш стиль.<br><b>С нами вы получите не просто красивый дизайн, но и надежного партнера, который быстро, профессионально и с душевным подходом воплотит ваши идеи в реальность</b></div>
  <div class="project_slider">
    <div class="project_slider_left"><img src="../static/img/bordo80/footer_left.jpg"></div>
    <div class="project_slider_middle"><img src="../static/img/bordo80/footer_middle.jpg"></div>
    <div class="project_slider_right"><img src="../static/img/bordo80/footer_right.jpg"></div>
  </div>
  <div class="project_request">{% include 'project_request.html' %}</div>
  <footer>{% include 'footer.html' %}</footer>
</body>
</html>
