<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <meta name="description" content="Краткое описание страницы">
  <link rel="stylesheet" href="{{ url_for('static', path='css/all.css') }}">
  <script>
    const leftImages = {{ left_images|tojson }};
    const rightImages = {{ right_images|tojson }};
    const headerImages = {{ header_photo|tojson }};
    const main_photo = "{{ main_photo }}";
  </script>
  <script src="{{ url_for('static', path='js/scripts_all.js') }}" defer></script>
  <script src="{{ url_for('static', path='js/script.js') }}" defer></script>
</head>
<body class="dark_body">
  <div class="loadingOverlay">
    <img src="{{ url_for('static', path='img/logo_dark.png') }}">
    <div>Loading</div>
  </div>
  <div class="contentData">
    <header>
      {% include 'nav_white.html' %}
      <div class="header_make_order_button">ЗАКАЗАТЬ ДИЗАЙН-ПРОЕКТ</div>
    </header>
    <main>
      <div class="main_left">
        <div class="main_left_project_name">Кофейня "Skuratov"</div>
        <div class="main_left_project_description">краткая информация о проекте</div>
      </div>
      <div class="main_right">
        <img src="{{ url_for('static', path='img/main/2.webp') }}">
        <a href="{{ url_for('get_project', name='skuratov') }}"><div class="main_right_button">ПЕРЕЙТИ К ПРОЕКТУ</div></a>
      </div>
    </main>
    <section>
      <div class="section_left">
        <div class="section_left_project_name">Название проекта</div>
        <div class="section_left_project_description">краткая информация о проекте</div>
      </div>
      <div class="section_right">
        <a href=""><div class="section_right_button">ПЕРЕЙТИ К ПРОЕКТУ</div></a>
      </div>
      <button class="prev">&#10094;</button>
      <button class="next">&#10095;</button>
    </section>
    <div class="text_descripton">
      <span class="bold-text">Наша главная задача - помочь поднять прибыль вашего бизнеса, </span> благодаря грамотному дизайну интерьера
      <br>
      <span class="bold-text">С нами вы получите не только красивый дизайн, но и надежного партнера, который быстро и профессионально воплотит ваши идеи в реальность.</span>
    </div>
    <div class="project_slider">
      <div class="project_slider_left"><img src="{{ url_for('static', path='img/bordo80/footer_left.jpg') }}"></div>
      <div class="project_slider_middle"><img src="{{ url_for('static', path='img/bordo80/footer_middle.jpg') }}"></div>
      <div class="project_slider_right"><img src="{{ url_for('static', path='img/bordo80/footer_right.jpg') }}"></div>
    </div>
    <div class="project_request">{% include 'project_request.html' %}</div>
    <footer>{% include 'footer.html' %}</footer>
  </div>
</body>
</html>
