<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <meta name="description" content="Краткое описание страницы">
  <link rel="stylesheet" href="../static/css/project.css">
  <link rel="stylesheet" href="../static/css/all.css">
  <script src="../static/js/scripts_all.js" defer></script>
  <script>
    const upImage = {{ up|tojson }};
    const middleImage = {{ middle|tojson }};
    const downImage = {{ down|tojson }};
    const project = "{{ project }}";
  </script>
  <script src="../static/js/project.js" defer></script>
</head>
<body class="white_body">
  <div class="loadingOverlay">
    <img src="../static/img/logo_dark.png">
    Loading
  </div>
  <div class="contentData">
    <header class="black_header">{% include 'nav_black.html' %}</header>
    <main class="project">
      <div class="project_left">
        <div>
          <div class="name">SKURATOV</div>
          <div class="description">Кофейня</div>
          <ul>
            <li>• Студия: AM2Design</li>
            <li>• Дизайнеры: Лев Мошенкин, Злата Абрамова</li>
            <li>• Фото: Иван Иванов</li>
            <li>• Расположение: Санкт-Петербург, Россия</li>
            <li>• Площадь: 210 м²</li>
            <li>• Год: 2024</li>
            <li>• Категория: ресторан</li>
          </ul>
        </div>
        <div>
          <div class="name">СПРОЕКТИРОВАЛИ РЕСТОРАН И ПОЛУЧИЛИ ФИНАНСОРОВАНИЕ В БАНКЕ</div>
          <div class="description">
            Перед нами встала задача разработать концептуальный проект ресторана азиатской кухни в Сочи. Мы с заказчиком решили соединить два мира: элегантность восточной культуры и современный стиль, который оценят самые избирательные гости.
            <br>
            • Создали уникальный интерьер, где традиционные азиатские мотивы встречаются со смелыми дизайнерскими решениями.
            <br>
            • Продумали каждую деталь, чтобы атмосфера сочетала комфорт и функциональность.
            <br>
            • Подготовили проект, который не только отражает философию азиатской кухни, но и стал убедительным аргументом для получения финансирования в банке.
            <br>
          Наш концепт — это больше, чем дизайн. Это идея, которая вдохновляет инвесторов и привлекает гостей еще до открытия.
          <br>
          Хотите, чтобы ваш проект стал успешным? Мы знаем, как воплотить вашу мечту в реальность!
          </div>
        </div>
        <div>
          <div class="name">ПЛАН 1 ЭТАЖА</div>
          <div class="plan"></div>
        </div>
        <div>
          <div class="name">ЭКСПЛИКАЦИЯ ПЛАНА</div>
          <ul>
            <li><div>1. Зал</div><div>75м²</div></li>
            <li><div>2. Санузел</div><div>5м²</div></li>
            <li><div>3. Тамбур</div><div>7м²</div></li>
            <li><div>4. Кухня</div><div>25м²</div></li>
            <li><div>5. Гардероб</div><div>8м²</div></li>
          </ul>
        </div>
      </div>
      <div class="project_right">
        <div class="carousel"></div>
        <div class="top"></div>
        <div class="middle"></div>
        <div class="down"></div>
      </div>
    </main>
    <div class="another">
      <a href="/projects/eli"><div>Предыдущий проект</div></a>
      <a href="/projects/village"><div>Следующий проект</div></a>
    </div>
    <div class="project_request">{% include 'project_request.html' %}</div>
    <footer>{% include 'footer.html' %}</footer>
  </div>
  <div id="myModal" class="modal">
    <img class="modal-content" id="img01">
  </div>
</body>
</html>
